body{
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}

/*navbar*/
.sidebar{
    height: 100vh;
    box-shadow: 5px 7px 25px #999;
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #0066ff;
    border-radius: 5px;
}
.current{
    background-color: #f44336;
    border-radius: 7px;
    transition: all .3s;
}
.current:hover{
    background-color: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}
@media (max-width: 768px){
    .sidebar{
        position: static;
        height: auto;
    }
    
}
.bg-color{
    background-color: #146EB4;
}
.bg-red{
    background-color: #700000;
}