/* Global Style */

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/header-wrapper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:auto;
    color:white;
    padding-bottom:60px;
}

h1{
    font-size: 90px;
    font-weight: 800;
}
.header-content{
    padding-left: 8%;
}
.header-content :nth-child(3){
    border:1px solid rgba(255, 255, 255, 0.205);
    padding:20px;
    width:20%;
    font-size:18px;
    margin-top:120px;
}
.header-content :nth-child(1){
   
    padding:20px;
    width:20%;
    font-size:17px;
    font-weight: 700;
    margin-top:120px;
}
.navbar-nav{
    float:right;
    margin-right:40px;
}
.navbar-nav li a{
    color:white;
    background-color: none;
    
}
.navbar-nav > li >a:hover, .navbar-nav > li > a:focus{
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
    background: none;
}
.navbar-nav {
position: absolute;
right: 2px;
}
.btn-general{
    border-radius: 30px;
    border:none;
   background-color: red;
   color:white;
}

/* section one */
#about-content-box{
    align-items: center;
    padding: 50px;
}


#about-content-box-outter{
    width:100%;
    height:100%;
    display: table;
}

#about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#content-title h2{
    color: rgb(13, 13, 73);
    font-weight: 800;
}

#content-title h2 p{
    font-size:20px;
}
#main-content{
    line-height:2.9rem;
    font-size: 18px;
    font-weight: 400;
    color:black;
    letter-spacing:1px;
   
    padding:2px;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}
.img-content img {
    width: 85%;
    object-fit: cover;
}

/* section two */
.section-two-wrapper{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 25), rgba(25, 20, 78, 0.404)), url(../images/header-wrapper.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:  center;
    color:white;
    width: 100%;
    height:auto;
}
#section-two-box{
color: white;
    width:100%;
    display: table;
    height:100%;}

#section-two-content-inner{
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    padding: 40px;
}

#section-two-content-inner h2{
    padding:20px;
}
#section-two-content-inner p{
    font-size:20px;
    padding:10px;
}
/* section three */

.icon-text{
    font-size:18px;
}

.icon-header{
    font-weight:700;
    color:rgb(6, 6, 34);
}

/* section four */
.slant-background {
    padding: 150px; 
    background-image: url('../images/slant.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:  center;
}
.slant-content{
    font-size:20px;
}
.section-five-container{
    margin-top: 50px;
}

.img-content img {
    width: 75%;
    object-fit: contain;
    
}
#slant_main_content{
    color:white;
    margin-top: -100px;
    vertical-align:center;
}

.section-four{
    margin-top:60px;
}

/* section five */

.all-title{
    font-size: 23px;
    font-weight: 700;
    color: rgb(9, 9, 51);
}

.all-text{
    font-size:19px;
    color:rgb(8, 8, 22);
    padding:5px;
}
.btn-all{
    background-color: rgb(0, 0, 12);
    padding:5px;
    font-size:19px;
    margin-top:40px;
    width:60%;
}

/* section before footer */
.subscribe {
    text-align: center;
        padding: 20px;
    
    }

.subscribe-content h2{
    margin-left: 5%;
    font-size: 30px;
    font-weight: 600;
        
}
.subscribe-content{
    margin:50px;
}
.subscribe input {
    width: 50%;
    padding: 10px;
}

.subscribe button {
    padding: 9px;
    width: 10%;
    border: none;
    color: white;
    border-radius: 0px 40px 40px 0px;
    background-color: red;
    font-size: 20px;
}

/* footer */
footer{
    background-color: rgb(39, 39, 97);
    margin-top: 5%;
    padding: 50px;
    padding-bottom: 200px;
    color: white;
    line-height: 1.7em;
}

    .footer-all h3::after {
        display: block;
        height: 1px;
        background-color: red;
        content: "";
        width: 100px;
        margin-top: 10px;
    }
    .footer-all ul li a {
       
        color:white;
        text-decoration: none;
        font-size: 15px;
    }
    .footer-all ul li{
        list-style-type: none;
    }
    .footer-all h3{
        margin-left: 40px;
    }
.footercopyright{
    text-align: center;
margin-top:100px;
}
/* Media Query */

/* Small phones from 0px to 480px */
@media only screen and (min-width:0px) and (max-width:480px){
    h1{
    font-size: 30px;
    font-weight: 800;
}

.header-content :nth-child(1){
   
    padding:20px;
    width:60%;
    font-size:13px;
    font-weight: 700;
    margin-top:120px;
}

.header-content :nth-child(3){
    border:1px solid rgba(255, 255, 255, 0.205);
    padding:20px;
    width:70%;
    font-size:12px;
    margin-top:120px;
}
}

   /* Small phones to small tablets: from 481px to 767px */

   @media only screen and (min-width:481px) and (max-width: 767px){
    
        h1{
    font-size: 50px;
    font-weight: 800;
} 
.header-content :nth-child(1){
   
    padding:20px;
    width:60%;
    font-size:14px;
    font-weight: 700;
    margin-top:120px;
}

.header-content :nth-child(3){
    border:1px solid rgba(255, 255, 255, 0.205);
    padding:20px;
    width:50%;
    font-size:15px;
    margin-top:120px;
}
}

   
    
    /*  Small tablet to big tablet: from 768px to 1023px */
    @media only screen and (min-width:768px) and (max-width:1023px){
    
    }
    
    
    /* Big tablet to 1200px (widths smaller than the 1140px row) */
    @media only screen and (min-width:1023px) and (max-width: 1200px){
        
        
    }